# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# ==============================
# Virtual Environment
# ==============================
venv/
.env/
.venv/

# ==============================
# Models (VERY IMPORTANT)
# ==============================
indictrans2/
indic_conformer/
whisper_kannada_onnx/

# ==============================
# Hugging Face Cache (IMPORTANT)
# ==============================
.cache/
hf_cache/
*/.cache/

# ==============================
# FFmpeg
# ==============================
ffmpeg/
*.zip

# ==============================
# Temporary / Logs
# ==============================
*.log
*.tmp
*.cache

# ==============================
# OS Files
# ==============================
Thumbs.db
.DS_Store

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Jupyter (optional)
# ==============================
.ipynb_checkpoints/