accelerate==1.12.0
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
audioread==3.1.0
babel==2.18.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
Cython==3.2.4
decorator==5.2.1
docutils==0.21.2
exceptiongroup==1.3.1
fastapi==0.128.2
ffmpeg-python==0.2.0
filelock==3.20.3
flatbuffers==25.12.19
fsspec==2026.2.0
future==1.0.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
idna==3.11
imagesize==1.4.1
indic-nlp-library-itt==0.1.1
indictranstoolkit @ git+https://github.com/VarunGumma/IndicTransToolkit.git@3efb8418d0721b4ce267c2b3586899d313191357
Jinja2==3.1.6
joblib==1.5.3
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.46.0
lxml==6.0.2
MarkupSafe==3.0.3
Morfessor==2.0.6
mpmath==1.3.0
msgpack==1.1.2
networkx==3.4.2
numba==0.63.1
numpy==2.2.6
onnxruntime==1.23.2
packaging==26.0
pandas==2.3.3
platformdirs==4.5.1
pooch==1.9.0
portalocker==3.2.0
protobuf==6.33.5
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.19.2
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytz==2025.2
pywin32==311
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
sacrebleu==2.6.0
sacremoses==0.1.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
snowballstemmer==3.0.1
soundfile==0.13.1
soxr==1.0.0
Sphinx==8.1.3
sphinx-argparse==0.5.2
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==0.50.0
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
tokenizers==0.15.2
tomli==2.4.0
torch==2.10.0
torchaudio==2.10.0
tqdm==4.67.3
transformers==4.38.2
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
